*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
/*header section*/

header{
    display: flex;
    justify-content: space-between;
    gap: 350px;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav > p{
    padding: 10px;
}

#logo{
    background-color: black;
    color: white;
    font-weight: 800;
    padding: 0px 10px;
    font-size: 48px;
}

.links{
    color: grey;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text > h1{
    font-weight: 100;
}

.header-text > p{
    color: grey;
    font-style: italic;
    font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
}

.header-content > button{
    background-color: white;
    border: solid;
    border-width: 2px;
    border-color: black;
    font-weight: 600;
    padding: 20px 40px;
}

#dots{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 100px;
}

.dot{
    border-radius: 100%;
    background-color: grey;
    width: 8px;
    height: 8px;
}

.dot-top{
    opacity: 20%;
}

.dot-center{
    opacity: 40%;
}


.dot-bottom{
    opacity: 60%;
}

/*about us section*/

#about-us{   
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    color: white;
}

#timeline{
    display: flex;
    justify-content: center;
    gap: 30px;
}



#timeline > div{
    display: flex;
    flex-direction: column;
    width: 300px;
}

#timeline-left > #event-2011{
    margin-top: 90px;
}

#timeline-left > #event-2013{
    margin-top: 135px;
}

#timeline-right > #event-2012{
    margin-top: 170px;
}

#timeline-right > #event-2014{
    margin-top: 210px;
}

#timeline-center {
    height: 750px;
    margin-bottom: -50px;
}

#building-img{
    background-image: url("images/black-buildings.png");
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#building-img > img{
    margin-bottom: -10px;
}

.left-year{
    text-align: right;
    font-weight: 100;
    font-size: 36px;
}

.right-year{
    text-align: left;
    font-weight: 100;
    font-size: 36px;
}

.timeline-text{
    color: grey;
    margin-top: 10px;
}

/*team section*/

#about-team{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-team > h3{
    font-size: 36px;
    font-weight: 100;
}

#about-team > p{
    font-style: italic;
    color: grey;
}

#team-members{
    display: flex;
    justify-content: center;
    gap: 150px;
    height: 400px;
    align-items: flex-end;
}

#team-members > div{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #justin{
    align-self: flex-start;
    margin-top: 60px;
 }

 .team-member-img{
    filter: grayscale(100%);
    margin-bottom: 20px;
 }

 .team-member > h3{
    font-weight: 300;
 }

 .team-member > p{
    color: grey;
    font-size: 12px;
 }

 .social-media > img{
    margin: 20px 5px;
 }

 /*services section*/

 #services{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1400px;
    background-color: #1d1d1d;
    color: white;
 }

 #services-quote{
    margin-top: 200px;
    margin-bottom: 100px;
 }

 #services-quote{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #services-quote > h3{
    font-weight: 100;
    font-size: 36px;
 }

 #services-quote > p{
    font-size: 15px;
    font-style: italic;
    color: grey;
 }

 #services-list{
    display: flex;
    justify-content: center;
    gap: 50px;
 }

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    flex-basis: 350px;
 }

.circle{
    border: solid;
    border-color: white;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
 }

 .service > h3{
    font-weight: 100;
 }

 .service > p{
    font-weight: 100;
    color: grey;
    font-style: italic;
    font-size: 15px;
 }

 #blog{
    height: 600px;
    width: 50%;
    background-image: url("images/blog.png");
    display: flex;
    align-items: flex-end;
    justify-content: center;
 }

 #blog-button{
    background-color: white;
    border: none;
    padding: 20px 40px;
    font-weight: 600;
    margin-bottom: 100px;
 }

 .slice{
    height: 300px;
    width: 110%;
    transform: rotate(-3deg);
    background-color: white;
    margin-left: -10px;
}
#slice-upper{
    margin-bottom: -100px;
}
#slice-bottom{
    margin-top: -100px;
    margin-bottom: 100px;
}

/*footer section*/
footer{
    text-align: center;
    height: 50px;
}
